.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  height: 4.5rem;

  background-color: var(--surface-color);
}

.desktop p {
  display: none;
  font: var(--pr-md);
  color: var(--text-color-secondary);
}

.desktop p:hover {
  color: var(--brand-color);
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-lupa img {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-lupa img:hover {
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
}

.profile-perfil img {
  width: 2.5rem;
  height: 2.5rem;
}

.profile-perfil img:hover {
  cursor: pointer;
}

@media ( width >= 64em) {
  .desktop p {
    display: flex;
  }
}
